:root {
    --color-primary: #F3976C;
    --color-secondary: rgb(47, 45, 45);
    --color-tertiazry: #364577;
}

body {
    font-family: Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: bolder;
}

h2 {
    font-size: 1.7rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
}

.header__logo {
    width: 216px;
    height: 40px;
}

.main, .header {
    width: min(95vw, 1440px);
    margin: auto;
}

@media screen and (min-width: 992px) {
    .navbar-nav {
        margin-left: 85%;
    }

}
.main {
    background: url("img/agence-la-panthere.jpg");
    padding: 0;
}

.main__subtitle {
    font-size: 1.2rem;
}
.texture-paper {
    width: 100%;
    padding: 40px 0;
    background: url("img/texture-paper.png");
}

.main__logo {
    width: 100px;
    height: 100px;
}

.main__title {
    margin: 20px 0 10px;
    color:var(--color-primary);
}

.main .btn {
    margin: 22px 5px 5px 0;
}

.btn {
    padding: 12px 28px;
    background-color: var(--color-primary);
    color: rgb(47, 45, 45);
    text-transform: uppercase;
    border-radius: 40px;
    font-weight: 700;
    font-size: 1rem;
}

.btn:hover {
    background-color:var(--color-secondary);
    color: var(--color-primary);
}


/* Services */

.services {
    padding: 50px 0;
}

.icons {
    font-size: 60px;
    color: var(--color-tertiazry);
    margin: 24px 0 14px;
}

/* Blockquote */

.choice {
    margin: 30px 0;
}
.quote {
    font-size: 1.2rem;
    font-style: italic;
    margin: 0 auto;
    width: min(85%, 700px);
    padding: 1.2em 30px 1.2em 50px;
    border-left: 10px solid var(--color-primary);
    position: relative;
    color: var(--color-secondary);
    background-color: whitesmoke;
}

.quote::before {
    content: "\201C";
    font-family: cursive;
    color: var(--color-primary);
    font-size: 4em;
    position: absolute;
    left: 5px;
    top: -20px;
}
cite {
    display:block;
    font-style: normal;
    font-weight: bold;
    margin-top: 1.2em;
}
cite span:last-child {
    font-size: 1rem;
}

/* Vision */
.vision .container {
    background: url("img/image-de-presentation.bmp");
    background-size: cover;
    padding: 5% 0;
}

.vision .texture-paper {
    width: min(95%, 600px);
    background-color: rgba(45, 47, 45, 0.5);
}

.vision p {
    text-align: left;
}

.vision p:first-child {
    font-size: 1.4rem;
    color: var(--color-primary);
}

/* Realisation */


/* Contact */

.form .btn-block {
    text-align: center;
}

.form__button {
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
}

.form__button:hover {
    border: 2px solid var(--color-primary);
}